<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento de umidade e Temperatura utilizando dispositivos eletrônicos</title>
</head>
<body>
    <main>
        <div>
            <div>
                <h1>Informações coletadas</h1>
                <div>
                    <h2>Temperatura</h2>
                    <p>{{ valueTemp }}</p>
                    <h2>Umidade</h2>
                    <p>X</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>